.nav {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
}

.nav__icon {
    position: relative;
    font-family: 'Libre Barcode 39 Text';
    font-size: 4rem;
    margin-left: 1rem;
    margin-top: auto;
}

.nav__icon a {
    color: var(--text);
    transition: font-size 500ms;
}

.nav__icon a:hover {
    font-size: larger;
    color: var(--highlight);
}

.nav__list-container {
    height: 100%;
    overflow-x: scroll;
    mask-image: none;
    -webkit-mask-image: linear-gradient(to right, transparent, #000 1.75rem);
}

.nav__list {
    width: max-content;
    display: flex;
    list-style: none;
    gap: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
}

/* 
Whitespace gradient that indicates overflow to 
the right of the navbar
*/
/*
.nav__list::after {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  content: '-';
  color: #282828;
  align-items: center;
  padding-left: 2.5rem;
  background: linear-gradient(to left, #000, 1rem, transparent);
}
*/

@media only screen and (min-width: 555px) {
    .nav__list-container {
        scrollbar-width: none;
    }
}
