.header {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-height: 84vh;
}

.header h1 {
    margin-top: 0;
}

.header__var {
    margin-top: 1rem;
    font-weight: 400;
    margin-right: 10rem;
}

.header__mini-bio {
    text-align: center;
    margin-bottom: 1rem;
}

.header__code {
    background-color: #3d3d3d;
    border-radius: 5px;
    width: fit-content;
    margin: 2.5rem auto 0 auto;
}

.header__image {
    width: 65%;
    min-width: 40vh;
    overflow: hidden;
}
