.header {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 81vh;
  max-height: 81vh;
}

.header h1 {
  margin-bottom: 0;
}

.header__var {
  font-weight: 400;
  margin-right: 10rem;
}

.header__mini-bio {
  text-align: center;
}
