.nav-button {
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.nav-button__text--passive,
.nav-button__text--active {
  color: #fff;
  padding: 0.75rem;
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-button__text--active {
  background-color: paleturquoise;
  border-radius: 3px;
  color: #282828;
}

/*
Underscore that appears beneath nav button on
hover
*/
.nav-button__text--passive::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  bottom: 20%;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.nav-button__text--passive:hover::before {
  transform: scaleX(0.5);
}

.nav-button__text--passive:hover {
  /* Slowly fill background with what it will look like when active */
}
