@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Poppins:wght@200;400;700&display=swap');
:root {
    font-family: 'Poppins';
    line-height: 1.5;
    font-weight: 200;
    box-sizing: border-box;

    --highlight: #afeeee;
    --dark: #282828;
    --text: #fff;

    color: var(--text);
    background-color: var(--dark);

    max-width: 35rem;
    margin: 0 auto;
    padding: 0;
    padding-top: 0;
    text-align: center;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}
